# Visual Studio Code - https://code.visualstudio.com/
.settings/
.vscode/

# Compiled files
dist/

# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Ignore index.html used for test
index.html